@font-face {
    font-family: Bariol;
    src: url('../font/bariol_regular-webfont.ttf');
}

html {
    font-family: sans-serif;
    background-color: #fafafa;
}

.spot-green {
    color: #82B941;
}

.brand-logo {
    font-family: Bariol, sans-serif;
}

#landing {
    width: 100%;
    height: 100%;
    background-image: url('../img/concert-audience.jpg');
    background-size: cover;
}

.profile, .favorite {
    vertical-align: middle;
    width: 48px;
    height: 48px;
    margin: 12px;
}

.favorite {
    float: right;
    padding: 0;
    padding-left: 8px;
}

.collapsible-header {
    padding: 0;
}

.material-icons {
    margin: 0;
    padding: 0;
}