/*
    Cole Chamberlin
    11/2/15
    INFO 343
    Spotify Challenge

    This file provides styles for the login.html page
*/

.container {
    display: table;
}

body {
    height: 100%;
}

.row {

    display: table-cell;
    vertical-align: middle;
}

.error {
    border-bottom: 1px solid #f44336;
}

.success {
    border-bottom: 1px solid #4caf50;
}