<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>

	<!-- Angular, jQuery, Parse, Materialize -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<script src="//www.parsecdn.com/js/parse-1.6.0.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
	<link rel="stylesheet" href="css/materialize.min.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Custom files -->
	<script type="text/javascript" src="js/login.js"></script>
	<link rel="stylesheet" href="css/login.css" />
</head>
<body ng-app="myApp" ng-controller="myCtrl">
	<nav>
		<div class="nav-wrapper light-green darken-1">
			<span class="brand-logo center">Find New Music</span>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="login.html">Login</a></li>
			</ul>
		</div>
	</nav>
	<div>
		<!-- Form
		<form class="container" name="songForm">
			<div class="form-group">
				<label>Spotify search:</label>
				<input name="search" placeholder="Enter your search.." ng-model="track" class="form-control"></input>
			</div>
			<div class="form-group">
				<button ng-disabled="songForm.search.$invalid" class="btn btn-primary" ng-click="getSongs()" type="submit">Submit</button>
			</div>
		</form>
		
		<!-- Results
		<div class="container-fixed">
			<p ng-show="tracks.length>0" class="help-block">Click to sample</p>
			<ul>
				<li ng-repeat="track in tracks" class="" ng-click="play(track.preview_url)" title="{{track.name}}">{{track.name + ', by ' + track.artists[0].name}}</li>
			</ul>
		</div>

	</div> -->
	</div>
</body>
</html>