<!--
    Cole Chamberlin
    11/2/15
    INFO 343
    Spotify Challenge

    This file provides the view for the login page
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <!-- Angular, jQuery, Parse, Materialize -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <link rel="stylesheet" href="css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custom files -->
    <script type="text/javascript" src="js/login.js"></script>
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/app.css" />
</head>
<body ng-app="loginApp" ng-controller="loginCtrl">
	<nav>
	    <div class="nav-wrapper light-green darken-1">
	        <a href="index.html" class="brand-logo center">Artist Finder</a>
		    <ul id="nav-mobile" class="left">
			    <li><a href="setup.html">Pick Faves</a></li>
			    <li><a href="index.html">Find New</a></li>
		    </ul>
		    <ul class="right">
			    <li><a href="#" ng-show="userId">{{users[userId].email}}</a></li>
			    <li class="active"><a href="login.html" ng-click="logOut()">{{userId ? 'Logout' : 'Login'}}</a></li>
		    </ul>
	    </div>
	</nav>
	<div class="container section">
	    <div class="row">
	        <div class="col s12 m8 l6 offset-m2 offset-l3">
	            <div class="card">
	                <div class="card-content">
	                    <p ng-show="error" ng-bind="error"></p>
		                <form role="form" name="login" id="login" ng-show="!signUpView" novalidate>
	                        <div class="input-field">
                                <label for="email">
		                            <span ng-show="!login.emailField.$touched || login.emailField.$valid">email</span>
	                                <span ng-show="login.emailField.$touched && login.emailField.$error.email">invalid email address</span>
                                </label>
	                            <input type="email" name="emailField" id="email" ng-model="email" ng-minlength="6" required />
	                        </div>
	                        <div class="input-field">
	                            <label for="password">
		                            <span ng-show="!login.passwordField.$touched || login.passwordField.$valid">password</span>
		                            <span ng-show="login.passwordField.$touched && login.passwordField.$error.minlength">password must be at least 6 characters</span>
	                            </label>
	                            <input type="password" id="password" name="passwordField" ng-model="password" ng-minlength="6" required />
	                        </div>
	                        <button type="submit" ng-click="signIn()" ng-disabled="login.$invalid" class="btn blue darken-3 waves-effect waves-light">Login</button>
	                    </form>
	                    <form role="form" name="signup" id="signup" ng-show="signUpView" novalidate>
	                        <div class="input-field">
		                        <label for="new-email">
			                        <span ng-show="!signup.newEmailField.$touched">email</span>
			                        <span ng-show="signup.newEmailField.$touched && signup.newEmailField.$error.email">invalid email address</span>
		                            <span ng-show="signup.newEmailField.$valid">email valid</span>
		                        </label>
	                            <input type="email" name="newEmailField" id="new-email" ng-model="newEmail" required />
	                        </div>
	                        <div class="input-field">
		                        <label for="password">
			                        <span ng-show="!signup.newPasswordField.$touched">password</span>
			                        <span ng-show="signup.newPasswordField.$touched && signup.newPasswordField.$error.minlength">password must be at least 6 characters</span>
			                        <span ng-show="signup.newPasswordField.$valid">password valid</span>
		                        </label>
	                            <input type="password" name="newPasswordField" id="new-password" ng-minlength="6" ng-model="newPassword" required />
	                        </div>
	                        <div class="input-field">
	                            <label for="new-password-confirm">
		                            <span ng-show="!signup.newPasswordConfirmField.$touched">confirm password</span>
		                            <span ng-show="signup.newPasswordConfirmField.$touched && newPasswordConfirm != newPassword">passwords do not match</span>
		                            <span ng-show="signup.newPasswordConfirmField.$valid && newPasswordConfirm == newPassword">passwords match</span>
	                            </label>
	                            <input type="password" name="newPasswordConfirmField" id="new-password-confirm" ng-model="newPasswordConfirm" required />
	                        </div>
	                        <button type="submit" ng-click="signUp()" ng-disabled="signup.$invalid || newPassword != newPasswordConfirm" class="btn green waves-effect waves-light">Sign Up</button>
	                    </form>
	                </div>
	            </div>
	            <div ng-show="!signUpView">
	                <span>Don't have an account yet?  </span>
	                <button ng-click="signUpView = true" class="btn green waves-effect waves-light">Sign Up</button>
	            </div>
		        <div ng-show="signUpView">
			        <span>Already have an account?  </span>
			        <button ng-click="signUpView = false" class="btn blue darken-3 waves-effect waves-light">Sign In</button>
		        </div>
	        </div>
	    </div>
	</div>
</body>
</html>